{
  "openapi": "3.0.3",
  "info": {
    "title": "Inventory API",
    "description": "API documentation for the Inventory API module in Odoo",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "matin.shahmaleki001@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://odoo.natelo.ir/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8069",
      "description": "Local Odoo server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "summary": "Authenticate user and receive JWT token",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["username", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "summary": "Retrieve product list with stock > 0",
        "operationId": "getProducts",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 1000 }, "description": "Limit of products to return" },
          { "name": "offset", "in": "query", "schema": { "type": "integer" }, "description": "Offset for pagination" },
          { "name": "fields", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated field list" },
          { "name": "name", "in": "query", "schema": { "type": "string" }, "description": "Product name (partial match)" },
          { "name": "default_code", "in": "query", "schema": { "type": "string" }, "description": "Product internal reference" },
          { "name": "min_price", "in": "query", "schema": { "type": "number" }, "description": "Minimum price" },
          { "name": "max_price", "in": "query", "schema": { "type": "number" }, "description": "Maximum price" },
          { "name": "category_ids", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated category IDs" },
          { "name": "category", "in": "query", "schema": { "type": "string" }, "description": "Category name" }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "name": { "type": "string" },
                      "default_code": { "type": "string" },
                      "list_price": { "type": "number" },
                      "qty_available": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/{id}": {
      "get": {
        "summary": "Retrieve a single product by ID",
        "operationId": "getProductById",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Product Template ID" },
          { "name": "fields", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated list of fields" }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "default_code": { "type": "string" },
                    "list_price": { "type": "number" },
                    "qty_available": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/stock": {
      "get": {
        "summary": "Get stock quantities from stock.quant",
        "operationId": "getStock",
        "parameters": [
          { "name": "location_id", "in": "query", "schema": { "type": "integer" }, "description": "Optional stock location ID" },
          { "name": "fields", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated list of fields" },
          { "name": "limit", "in": "query", "schema": { "type": "integer" }, "description": "Limit of records to return" },
          { "name": "offset", "in": "query", "schema": { "type": "integer" }, "description": "Offset for pagination" }
        ],
        "responses": {
          "200": {
            "description": "Stock quantities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": { "type": "integer" },
                      "location_id": { "type": "integer" },
                      "quantity": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
"/api/sales": {
  "get": {
    "summary": "Retrieve list of sale orders",
    "operationId": "getSalesOrders",
    "parameters": [
      {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}},
      {"name": "state", "in": "query", "schema": {"type": "string"}},
      {"name": "date_from", "in": "query", "schema": {"type": "string", "format": "date"}},
      {"name": "date_to", "in": "query", "schema": {"type": "string", "format": "date"}},
      {"name": "partner_id", "in": "query", "schema": {"type": "integer"}},
      {"name": "sort_by", "in": "query", "schema": {"type": "string"}},
      {"name": "order", "in": "query", "schema": {"type": "string", "enum": ["asc", "desc"]}},
      {"name": "limit", "in": "query", "schema": {"type": "integer"}},
      {"name": "offset", "in": "query", "schema": {"type": "integer"}},
      {"name": "filter", "in": "query", "schema": {"type": "string"}},
      {"name": "If-None-Match", "in": "header", "schema": {"type": "string"}}
    ],
    "responses": {
      "200": {
        "description": "List of sale orders",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": { "type": "integer" },
                "success": { "type": "boolean" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "name": { "type": "string" },
                      "partner_id": { "type": "integer" },
                      "amount_total": { "type": "number" },
                      "state": { "type": "string" },
                      "date_order": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "304": { "description": "Not Modified" },
      "400": { "description": "Invalid request" },
      "401": { "description": "Unauthorized" }
    }
  }
},
    "/api/sales/{sale_id}": {
  "get": {
    "summary": "Retrieve a sale order by ID",
    "operationId": "getSaleOrderById",
    "parameters": [
      {"name": "Authorization", "in": "header", "required": true, "schema": {"type": "string"}},
      {"name": "sale_id", "in": "path", "required": true, "schema": {"type": "integer"}},
      {"name": "If-None-Match", "in": "header", "schema": {"type": "string"}}
    ],
    "responses": {
      "200": {
        "description": "Sale order data",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": { "type": "integer" },
                "success": { "type": "boolean" },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "integer" },
                    "name": { "type": "string" },
                    "partner_id": { "type": "integer" },
                    "amount_total": { "type": "number" },
                    "state": { "type": "string" },
                    "date_order": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      },
      "304": { "description": "Not Modified" },
      "404": { "description": "Sale order not found" },
      "401": { "description": "Unauthorized" }
    }
  }
},
    "/api/products/export": {
      "get": {
        "summary": "Export products to CSV with stock > 0",
        "operationId": "exportProducts",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 1000 }, "description": "Limit of products to export (optional)" },
          { "name": "offset", "in": "query", "schema": { "type": "integer" }, "description": "Offset for pagination (optional)" },
          { "name": "fields", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated field list (default: id, name, default_code, list_price, qty_available)" },
          { "name": "name", "in": "query", "schema": { "type": "string" }, "description": "Product name (partial match, optional)" },
          { "name": "default_code", "in": "query", "schema": { "type": "string" }, "description": "Product internal reference (optional)" },
          { "name": "min_price", "in": "query", "schema": { "type": "number" }, "description": "Minimum price (optional)" },
          { "name": "max_price", "in": "query", "schema": { "type": "number" }, "description": "Maximum price (optional)" },
          { "name": "category_ids", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated category IDs (optional)" },
          { "name": "category", "in": "query", "schema": { "type": "string" }, "description": "Category name (optional)" }
        ],
        "responses": {
          "200": {
            "description": "CSV file with product data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/stock/export": {
      "get": {
        "summary": "Export stock quantities to CSV from stock.quant",
        "operationId": "exportStock",
        "parameters": [
          { "name": "location_id", "in": "query", "schema": { "type": "integer" }, "description": "Optional stock location ID" },
          { "name": "fields", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated list of fields (default: product_id, location_id, quantity)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer" }, "description": "Limit of records to export (optional)" },
          { "name": "offset", "in": "query", "schema": { "type": "integer" }, "description": "Offset for pagination (optional)" }
        ],
        "responses": {
          "200": {
            "description": "CSV file with stock data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/products/upload": {
      "post": {
        "summary": "Upload products via JSON file, raw JSON data, or form data with optional images",
        "operationId": "uploadProducts",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "products": {
                    "type": "string",
                    "format": "binary",
                    "description": "JSON file containing a list of products (optional)"
                  },
                  "products_json": {
                    "type": "string",
                    "description": "JSON string containing a list of products (optional if 'products' file not provided)"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Optional list of image files, max 5MB each, formats: jpg, jpeg, png, max count defined by config.MAX_IMAGES"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string", "description": "Product name (required)" },
                    "default_code": { "type": "string", "description": "Product internal reference (optional)" },
                    "list_price": { "type": "number", "description": "Product price (optional)" },
                    "qty_available": { "type": "number", "description": "Initial stock quantity (optional)" }
                  },
                  "required": ["name"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_count": { "type": "integer" },
                    "created_ids": { "type": "array", "items": { "type": "integer" } },
                    "skipped_products": { "type": "array", "items": { "type": "string" } },
                    "response_time_ms": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., invalid input)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/update_stock": {
      "post": {
        "summary": "Update stock quantities for products using default_code or name",
        "operationId": "updateStock",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "default_code": { "type": "string", "description": "Product internal reference (required)" },
                    "name": { "type": "string", "description": "Product name (required)" },
                    "quantity": { "type": "number", "description": "Quantity to add or delete (must be positive)" },
                    "operation": { "type": "string", "enum": ["add", "delete"], "description": "Either 'add' to increase stock or 'delete' to decrease stock" }
                  },
                  "required": ["default_code", "name", "quantity", "operation"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stock updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": { "type": "string" },
                          "operation": { "type": "string" },
                          "quantity": { "type": "number" }
                        }
                      }
                    },
                    "failed_products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "identifier": { "type": "string" },
                          "error": { "type": "string" }
                        }
                      }
                    },
                    "response_time_ms": { "type": "number" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., invalid input)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/invoices/create": {
      "post": {
        "summary": "Create a new invoice in the system",
        "operationId": "createInvoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_id": { "type": "integer", "description": "ID of the customer" },
                  "invoice_date": { "type": "string", "format": "date", "description": "Date in YYYY-MM-DD format" },
                  "due_date": { "type": "string", "format": "date", "description": "Due date in YYYY-MM-DD format (optional)" },
                  "post_immediately": { "type": "boolean", "description": "Whether to post immediately" },
                  "invoice_lines": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": { "type": "integer", "description": "ID of the product" },
                        "quantity": { "type": "number", "description": "Quantity of the product" },
                        "price_unit": { "type": "number", "description": "Unit price of the product" },
                        "description": { "type": "string", "description": "Optional description" }
                      },
                      "required": ["product_id", "quantity", "price_unit"]
                    }
                  }
                },
                "required": ["customer_id", "invoice_date", "invoice_lines"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice_id": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customers": {
      "post": {
        "summary": "Create a new customer",
        "description": "Creates a new customer record with the provided data. Requires authentication and is rate-limited to 50 requests per hour.",
        "operationId": "createCustomer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "John Doe" },
                  "email": { "type": "string", "format": "email", "example": "john.doe@example.com" },
                  "phone": { "type": "string", "example": "+1234567890" },
                  "street": { "type": "string", "example": "123 Main St" }
                },
                "required": ["name", "email"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 1 },
                        "name": { "type": "string", "example": "John Doe" },
                        "email": { "type": "string", "example": "john.doe@example.com" },
                        "phone": { "type": "string", "example": "+1234567890" },
                        "street": { "type": "string", "example": "123 Main St" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Invalid customer data: missing required field" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Internal server error" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve a list of customers",
        "description": "Fetches a paginated list of customers. Requires authentication and is rate-limited to 100 requests per hour.",
        "operationId": "getCustomers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "schema": { "type": "integer", "default": 0 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (e.g., id,name,email)",
            "schema": { "type": "string", "example": "id,name,email" }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter expression for customers",
            "schema": { "type": "string", "example": "name=John" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with customer list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 1 },
                          "name": { "type": "string", "example": "John Doe" },
                          "email": { "type": "string", "example": "john.doe@example.com" },
                          "phone": { "type": "string", "example": "+1234567890" },
                          "street": { "type": "string", "example": "123 Main St" }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": { "type": "integer", "example": 10 },
                        "offset": { "type": "integer", "example": 0 },
                        "total": { "type": "integer", "example": 50 }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Parameter error: invalid limit" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Unexpected error in get_customers" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customers/{customer_id}": {
      "get": {
        "summary": "Retrieve a customer by ID",
        "description": "Fetches details of a specific customer by ID. Requires authentication and is rate-limited to 100 requests per hour.",
        "operationId": "getCustomerById",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "ID of the customer to retrieve",
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return (default: id,name,email,phone,street)",
            "schema": { "type": "string", "example": "id,name,email" }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 1 },
                        "name": { "type": "string", "example": "John Doe" },
                        "email": { "type": "string", "example": "john.doe@example.com" },
                        "phone": { "type": "string", "example": "+1234567890" },
                        "street": { "type": "string", "example": "123 Main St" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "No valid fields selected" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Customer not found" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Error in /api/customers/<id>" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}